body {
    background: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#hero-background {
    background: darkgreen;
    height: 400px;
}

#hero-background button {
    background: rgb(232, 99, 55);
    color: #fff;
    font-size: 14px;
}

#hero-background #inner-caption {
    display: none;
}

/* Custotm padding */
.pt-6 { padding-top: 4rem !important; }
.pt-7 { padding-top: 5rem !important; }
.pt-8 { padding-top: 6rem !important; }