body {
    /* background: black; */
    /* color: white; */
    font-family: 'Montserrat', sans-serif;
}

#hero-background {
    background: darkgreen;
    height: 400px;
    color: #fff;
}

#hero-background button {
    background: rgb(232, 99, 55);
    color: #fff;
    font-size: 14px;
}

#hero-background #inner-caption {
    display: none;
}

/* Custotm padding */
.pt-6 { padding-top: 4rem !important; }
.pt-7 { padding-top: 5rem !important; }
.pt-8 { padding-top: 6rem !important; }
.pt-9 { padding-top: 7rem !important; }

.mt-6 { margin-top: 4rem !important; }
.mt-7 { margin-top: 5rem !important; }
.mt-8 { margin-top: 6rem !important; }
.mt-9 { margin-top: 7rem !important; }

#about-us {
    display: none;
}

#about-us p {
    line-height: 2.3;
}